@import '../variables.sass'
.summoner-profile
    .summoner-information
    .summoner-matches
        .matches
            .match
                min-height: 50px
                margin: 20px 0px
                &.match-won
                    background-color: $victoryBackground
                &.match-lost
                    background-color: $defeatBackground
                    border-left: 5px solid $defeatBorder
// $defeatBackground
// $defeatBorder
// $victoryBackground
// $victoryBorder